# SoulMD Hub

# Node
/private/contract/node_modules/*
/private/contract/build/*
/public_html/js/wallet-builder/node_modules/*
/public_html/js/wallet-builder/build/*
package-lock.json

# PHP
/vendor/
.env
config.php

# Uploads
/uploads/*
!uploads/.gitkeep

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db