# SoulMD Hub

# Node
/contract/node_modules/*
/contract/build/*
package-lock.json
Cargo.lock
/contract/target/release/*
/contract/target/*

# PHP
/vendor/
.env
config.php

# Uploads
/uploads/*
!uploads/.gitkeep

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# walllet
wallet-builder/dist
wallet-builder/node_modules