# SoulMD Hub

# Node
/contract/node_modules/*
/contract/build/*
package-lock.json

# PHP
/vendor/
.env
config.php

# Uploads
/uploads/*
!uploads/.gitkeep

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db